<html lang="pl">
  <head>
    <title>Legnica kebab spotting</title>
    <link rel="icon" type="image/x-icon" href="assets/kebab.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }

      .leaflet-tile {
        filter: grayscale(1);
      }

      .marker.closed {
        filter: grayscale(1);
        width: 16px !important;
        height: 16px !important;
      }
    </style>
  </head>

  <body>
    <div class="relative w-full h-full" id="application">
      <div id="sidebar" class="z-20 overflow-y-auto absolute top-0 bottom-0 right-0 m-4">
        <div class="overflow-y-auto w-[480px] bg-white p-4">
          <div class="flex flex-col gap-2">
            <div class="flex gap-2">
              <div class="flex-1 flex flex-col rounded-lg border border-gray-300 text-center text-xl bg-white px-4 py-3 shadow-sm">
                <span class="mb-2 rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/10">działa</span>
                {{ places.filter(place => place.status === 'working').length }}
              </div>
              <div class="flex-1 flex flex-col rounded-lg border border-gray-300 text-center text-xl bg-white px-4 py-3 shadow-sm">
                <span class="mb-2 rounded-full bg-sky-50 px-2 py-1 text-xs font-medium text-sky-700 ring-1 ring-inset ring-sky-600/10">w planach</span>
                {{ places.filter(place => place.status === 'planned').length }}
              </div>
              <div class="flex-1 flex flex-col rounded-lg border border-gray-300 text-center text-xl bg-white px-4 py-3 shadow-sm">
                <span class="mb-2 rounded-full bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">zamkniętych</span>
                {{ places.filter(place => place.status === 'closed').length }}
              </div>
            </div>
            <hr class="my-4">
            <div v-for="(place, i) in places" class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-4 py-3 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
              <span class="absolute top-0 left-0 -m-2 bg-white inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">{{
                  i + 1
                }}</span>
              <div class="min-w-0 flex-1">
                <div class="focus:outline-none" @click="centerTo(place)">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <div class="text-sm font-medium text-gray-900">
                    {{ place.name }}
                    <span class="inline-flex items-center rounded-full bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10" v-if="place.status === 'closed'">zamknięty</span>
                    <span class="inline-flex items-center rounded-full bg-sky-50 px-2 py-1 text-xs font-medium text-sky-700 ring-1 ring-inset ring-sky-600/10" v-if="place.status === 'planned'">w planach</span>
                  </div>
                  <div class="flex gap-4">
                    <p class="truncate text-sm text-gray-500">{{ place.location.address }}</p>
                    <p class="truncate text-sm text-gray-500">{{ place.lifespan }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="map" class="flex z-10 h-screen w-screen justify-center items-center">
        <div role="status">
          <svg aria-hidden="true" class="mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#application',
      data() {
        return {
          places: [],
        }
      },
      mounted() {
        fetch('./markers.json').then(response => response.json()).then(data => {
          this.places = data
          this.renderMap()
        })
      },
      methods: {
        renderMap() {
          const icon = L.icon({
            iconUrl: 'assets/kebab.png',
            iconSize: [32, 32],
          })

          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          }).addTo(map)

          for (const pin of this.places) {
            if (pin.location.coordinates) {
              let marker = L.marker(pin.location.coordinates, {icon: icon}).addTo(map).bindTooltip(pin.name + ', ' + pin.location.address, {offset: [16, 0]})

              marker._icon.classList.add('marker')
              marker._icon.classList.add(pin.status)
            }
          }

          this.places = this.places.sort((a, b) => a.name.localeCompare(b.name))

          map.fitBounds(new L.LatLngBounds(this.places.map(place => place.location.coordinates)), {paddingBottomRight: [document.getElementById("sidebar").offsetWidth, 0]})

        },
        centerTo(place) {
          map.setView(place.location.coordinates, 17, { animate: false, paddingBottomRight: [100, 100] })
        }
      },
    })

    const map = L.map('map').setView([51.208722232278866, 16.163727214880396], window.innerWidth > 1200 ? 7 : 5)
  </script>
</html>
